.flex-container {
    display: flex;
    background-color:violet;
    justify-content: center;
    border: 2px solid red;
    width: auto;
    height: 300px;
  }
  
  .flex-container2 {
    display: flex;
    background-color: white;
    justify-content: center;
    z-index: 1;
    margin-top: 100px;
    width: 700px;
    height: 150px;

  }
  .flex-container2 > div {
    width: 100%;
    background-color:black;
    margin: 40px;
}

.he {
    position: absolute;
}

.flex-container3 {
    display: flex;
    background-color:gray;
    width: auto;
    height: 240px;
  }

  .flex-container3 > div {
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-container3 .me {
    position: absolute;
    top: 300px;
    left: 750px;
}

.flex-container4 {
display: flex;
width: 100%;
height: 600px;
}

.flex-container4 > div {
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 100%;
  }


.bl1 {
  display: flex;
  background-color: green;
  position: relative;

}

.plb {
position: absolute;
left: 200px;
}

.left {
  display: flex;
  background-color: orange;
  align-self:flex-end;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 450px;
  position: relative;
}

.lef {
position: absolute;
left: 150px;
}

.le1 {
  background-color: pink;
  height: 350px;
  width: 50%;
  align-self: flex-end;
}

.le2 {
  background-color:yellow;
  height: 350px;
  width: 50%;
  align-self: flex-end;
}


.bl2 {
  display: flex;
  align-items: flex-end;
  position: relative;
  }

.blp2 {
position: absolute;
margin-bottom: 565px;
margin-left: 200px;
}


.bl21 {
  background-color: red;
  height: 450px;
  width: 33%;
}
.bl22 {
  background-color:yellow;
  height: 450px;
  width: 34%;
  position: relative;
}

.blp22 {
position: absolute;
margin-bottom: 420px;
margin-left: 60px;
}


.bl22 {
  display: flex;
  align-items: flex-end;
}

.bl211 {
  background-color: orange;
  height: 350px;
  width: 50%;
}
.bl212 {
  background-color: red;
  height: 150px;
  width: 50%;
}

.bl23 {
  background-color:orange;
  height: 450px;
  width: 33%;
}


.bl3 {
  display: flex;
  background-color: blue;
  position: relative;

}

.blp3 {
position: absolute;
margin-left: 200px;
}

.bl31 {
  background-color: aqua;
  height: 150px;
  width: 33%;
  align-self: flex-end;
}

.bl32 {
  background-color: yellow;
  height: 200px;
  width: 33%;
  margin-top: 350px;
}

.bl33 {
  display: flex;
  background-color: orange;
  height: 200px;
  width: 34%;
  margin-top: 200px;
  flex-direction: column;
  justify-content: space-around;
}

.bl331 {
  background-color: black;
  width: 100px;
  height: 45px;
  align-self: flex-end;
}

.bl332 {
  background-color: black;
  width: 100px;
  height: 45px;
  align-self: flex-start;

}